body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./aserts/os-x-degrade-wallpaper-preview.jpg');
  height: 100%;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bkCard {
  border-right: 0.5px solid rgb(231, 178, 178);
  /* border-radius: 5px; */
}
